<div class='card'>
    <div class='card-header'>
        <h2>{{cardTitle}}</h2>
    </div>
    <div class='card-body'>
            <div class='row'>
                <div class='col-md-1'><h4>Search</h4></div>
                <div class='col-md-2'>
                    <input type='text' class="form-control-sm"
                    [(ngModel)]='listFilter'/>
                </div>
                <app-add></app-add>
                <div>
                    <app-edit></app-edit>
                </div> 
            </div>
            <div class='row'>
                <div class='col-md-6'>
                    <h4>Searched By: {{listFilter}}</h4>
                </div>
            </div>
             <div class='row'>
                <div class='table-responsive table-hover'>
                    <div class='table'>
                        <thead>
                            <tr>
                                <th><input type="checkbox" (change)="selectAll($event)" /></th>
                                <th>Project-ID Name</th>
                                <th>ID</th>
                                <th>Workday ID</th>
                                <th>Team Member</th>
                                <th>Comments</th>
                                <th>SOW</th>
                                <th>Location</th>
                                <th>Stream</th>
                                <th>Project</th>
                                <th>Cat</th>
                                <th>Leaves</th>
                                <th>Working Day</th>
                                <th>PD to SP</th>
                                <th>Agreed SPs</th>
                                <th>Allocated SPs</th>
                                <th>Actual SPs</th>
                                <th>Allocated Revenue</th>
                                <th>Forcasted Revenue</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor = 'let employee of filteredEmployees'>
                                <td>
                                        <input type="checkbox" (change)="CentricaDigitalMdsService.selectedValue(employee,$event)" />
                                </td>
                                <td>
                                    <span contenteditable="true" (keyup)="changeValue(i,'projectIdName',$event)" (blur)="updated(i,'projectIdName',$event)">
                                        {{employee.projectIdName}} 
                                    </span>
                                    <!-- <input type="text" *ngIf="employee.editable" [(ngModel)]="employee.projectIdName" />
                                    <ng-container *ngIf="!employee.editable">{{employee.productIdName}}</ng-container> -->
                                </td>
                                <td>
                                    <span contenteditable="true" (keyup)="changeValue(i,'employeeId',$event)" (blur)="updated(i,'employeeId',$event)">
                                        {{employee.id}}
                                    </span>
                                </td>
                                <td>
                                    <span contenteditable="true" (keyup)="changeValue(i,'workId',$event)" (blur)="updated(i,'workId',$event)">
                                        {{employee.workId}}
                                    </span>
                                </td>
                                <td>
                                    <span contenteditable="true" (keyup)="changeValue(i,'teamMember',$event)" (blur)="updated(i,'teamMember',$event)">
                                        {{employee.teamMember}}
                                    </span>
                                </td>
                                <td>
                                    <span contenteditable="true" (keyup)="changeValue(i,'comments',$event)" (blur)="updated(i,'comments',$event)">
                                        {{employee.comments}}
                                    </span>
                                </td>
                                <td>
                                    <span contenteditable="true" (keyup)="changeValue(i,'sow',$event)" (blur)="updated(i,'sow',$event)">
                                        {{employee.sow}}
                                    </span>
                                </td>
                                <td>
                                    <span contenteditable="true" (keyup)="changeValue(i,'location',$event)" (blur)="updated(i,'location',$event)">
                                        {{employee.location}}
                                    </span>
                                </td>
                                <td>
                                    <span contenteditable="true" (keyup)="changeValue(i,'stream',$event)" (blur)="updated(i,'stream',$event)">{{employee.stream}}</span>
                                </td>
                                <td>
                                    <span contenteditable="true" (keyup)="changeValue(i,'project',$event)" (blur)="updated(i,'project',$event)">
                                        {{employee.project}}
                                    </span>
                                </td>
                                <td>
                                    <span contenteditable="true" (keyup)="changeValue(i,'cat',$event)" (blur)="updated(i,'cat',$event)">
                                        {{employee.cat}}
                                    </span>
                                </td>
                                <td>
                                    <span contenteditable="true" (keyup)="changeValue(i,'leaves',$event)" (blur)="updated(i,'leaves',$event)">
                                        {{employee.leaves}}.
                                    </span>
                                </td>
                                <td>
                                    <span contenteditable="true" (keyup)="changeValue(i,'workingDay',$event)" (blur)="updated(i,'workingDay',$event)">
                                        {{employee.workingDay}}
                                    </span>
                                </td>
                                <td>
                                    <span contenteditable="true" (keyup)="changeValue(i,'pdToSp',$event)" (blur)="updated(i,'pdToSp',$event)">
                                        {{employee.pdToSp}}
                                    </span>
                                </td>
                                <td>
                                    <span contenteditable="true" (keyup)="changeValue(i,'agreedSps',$event)" (blur)="updated(i,'agreedSps',$event)">
                                        {{employee.agreedSps}}
                                    </span>
                                </td>
                                <td>
                                    <span contenteditable="true" (keyup)="changeValue(i,'allocatedSps',$event)" (blur)="updated(i,'allocatedSps',$event)">
                                        {{employee.allocatedSps}}
                                    </span>
                                </td>
                                <td>
                                    <span contenteditable="true" (keyup)="changeValue(i,'actualSps',$event)" (blur)="updated(i,'actualSps',$event)">
                                        {{employee.actualSps}}
                                    </span>
                                </td>
                                <td>
                                    <span contenteditable="true" (keyup)="changeValue(i,'allocatedSps',$event)" (blur)="updated(i,'allocatedRevenue',$event)">
                                        {{employee.allocatedRevenue}}
                                    </span>
                                </td>
                                <td>
                                    <span contenteditable="true" (keyup)="changeValue(i,'forecastedRevenue',$event)" (blur)="updated(i,'forecastedRevenue',$event)">
                                        {{employee.forecastedRevenue}}
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </div>
                </div>
            </div>
        </div>
</div>